{% extends 'base.html' %}
{% block title %}
About page
{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block aboutactive2 %} active2 {% endblock aboutactive2 %}


{% load static %}

{% block body %}

<div class="container">
  <main class="bd-main order-1">
    <div class="bd-intro ps-lg-4">
      <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
        <h1 class="bd-title" id="content">About Us</h1>
      </div>
      <h5 class="text-muted bd-lead">GetAnswer is an educational site that provides answers to different questions, essays, and
        quizzes, etc for students.
        GetAnswr helps to solve student problems by providing different questions answers.
        We believe that education is one of the most fundamental part of our life.
        And students have various problems and questions that they don't know
        GetAnswr helps them to find their problems answer in batter ways.

      </h5>
      <h5 class="text-muted">
        Fair use allows reproduction and other uses of copyrighted works without requiring permission from the copyright
        owner
        under certain conditions. In many cases, you can use copyrighted materials for purposes such as criticism,
        comment, news reporting, teaching (including multiple copies for classroom use), scholarship, or research.


      </h5>
    </div>


    <!-- START THE FEATURETTES -->


  </main>
</div>

{% endblock body %}